<div class="content-pane">
  <div class="content">
    <ul class="columns">
      <li class="">
        <div class="heading bare">Wow! {{status.authd}}</div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, dolores, atque necessitatibus qui officiis maiores aut sed quod! Nobis tenetur aspernatur quaerat laudantium consequatur consequuntur beatae odio dicta qui earum!
      </li>
      <li class=""><markdown>**Markdown** is *pretty* cool!</markdown></li>
      <li class="">
        <div class="heading bare">History</div>
        <div ng-hide="status.authd">
          Please log in to see history.
          <div class="buttons">
            <div class="button" ng-click="status.login = !status.login">Log In</div>
          </div>
        </div>
        <div ng-show="status.authd">
          <!-- <div class="buttons"><div class="button" ng-show="status.authd" ng-click="go()">Get History</div></div> -->
          <div class="heading small bare">hosted@mongoLab</div>
          <div ng-hide="events.length"><img class="loader" src="img/bar-loader.gif" alt="Loading...">Loading...</div>
          <div class="list" ng-repeat="event in events | limitTo:5 | orderBy:start">
            <div><span class="name">{{event.name | fuppercase}}</span> <span class="description">{{event.description | limitTo:100}}</span></div>
          </div>
        </div>
      </li>
      <li class="">
        <div class="heading bare">Grids</div>
        This layout uses a standard 960px width with auto margins. However the containers within the body are arranged in columns using inline blocks and <a href="http://www.barrelny.com/blog/text-align-justify-and-rwd/" target="_blank">justified</a> text align. This allows a fluid grid layout without tedious amounts of CSS.
        <div class="buttons">
          <div class="button" ng-click="status.f = changeBody(!status.f);">fluid {{status.f}}</div>
        </div>
      </li>
      <li class="">Hello Again</li>
      <li class="">Hello Again Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, expedita, assumenda, accusamus debitis ad excepturi optio repellat ullam qui itaque incidunt asperiores molestiae recusandae explicabo officia mollitia iure! Suscipit, dolor.</li>
      <li class="">
        <div class="heading bare">GitHub</div>
        The complete source code for this demonstration is <a href="https://github.com/rogerano/nodehttp" target="_blank">hosted</a> on GitHub.
      </li>
    </ul>
    <ul class="columns">
      <li></li>
      <li></li>
      <li></li>
      <li class=""><version class="heading bare"></version></li>
    </ul>
  </div>
</div>
<div ng-show="status.login && !status.authd" ng-controller="authCtrl"><login class="popup" error="{{status.authError}}" close="status.login = false" login="reqAuth(username, password)"></login></div>
