<div class="main" ng-cloak>

  <div class="site-header">
    <div class="forque title">BeerTime!
      <div class="feature glyph">*<div class="forque yay2">yay!</div></div>
    </div>
    <div class="text-shadow"><strong>Bringing the end of the week closer, one second at a time</strong></div>
  </div>

  <ul class="columns one">

    <li>
      <div class="digital-container">
        <span class="digital glyph">T</span>
        <span class="digital">{{beerClock | hms:'d'}}</span> d
        <span class="digital">{{beerClock | hms:'h'}}</span> h
        <span class="digital">{{beerClock | hms:'m'}}</span> m
        <span class="digital">{{beerClock | hms:'s'}}</span> s
        <div ng-show="beerClock < 0">Beer o'clock is here! Please lift your bottom from your seat and proceed with all haste to the pub.</div>
        <div class="content-pane" ng-show="beerClock < -60">
          <div class="heading error">WARNING!!!</div>
          <div class="content">If you are reading this, your beer appointment is overdue. Proceed to the pub immediately.</div>
        </div>
      </div>
    </li>

    <li>
      <div class="list header">
        <div class="attr"></div>
        <div class="attr name"></div>
        <div class="attr feature glyph">*<div class="yay2 forque">Going?!</div></div>
        <div class="attr feature glyph">*<div class="yay2 forque">Shots!</div></div>
        <div class="attr feature glyph">*<div class="yay2 forque">Beers</div></div>
      </div>
      <div class="list" ng-repeat="att in attendees | filter:{deleted:'false'} | orderBy:'name'">
        <div class="attr glyph comment-ind" ng-click="att.showCommentField = !att.showCommentField;" ng-class="{is:att.comment, isnot: !att.comment}">b</div>
        <div class="attr name">
          {{att.name}}
          <div class="comment small">{{att.comment || 'No comment'}}</div>
        </div>
        <div class="attr feature glyph" ng-click="att.pub = !att.pub; update(att);" ng-class="{no: !att.pub, yes: att.pub}">
          {{att.pub | symbol}}
          <div class="yay2 forque">{{att.pub | onoff}}</div>
        </div>
        <div class="attr feature glyph" ng-click="att.shots = !att.shots; update(att);" ng-class="{no: !att.shots, yes: att.shots}">
          {{att.shots | symbol}}
          <div class="yay2 forque">{{att.shots | onoff}}</div>
        </div>
        <!-- <div class="attr glyph" ng-click="att.shots = !att.shots; update(att);" ng-class="{no: !att.shots, yes: att.shots}">{{att.shots | onoff}}</div> -->
        <span class="attr beer" ng-click="att.shout = att.shout + 1; update(att);" numdrink="{{att.shout}}"></span>
        <div class="attr comment" ng-show="att.showCommentField">
          <input class="" type="text" ng-model="att.comment">
          <div class="button" ng-click="att.showCommentField = false; update(att);">Save</div>
          <div class="button" ng-click="att.showCommentField = false;">Cancel</div>
        </div>
      </div>
    </li>
</div>
