<div class="side-bar" ng-cloak>
  <ul>
    <li ng-init="status.showAdmin = false" ng-class="{selected:status.showAdmin}" >
      <div class="glyph" ng-click="status.showChat = false; status.showAdmin = !status.showAdmin">G</div>
      <div class="side-board" ng-show="status.showAdmin" ng-animate="{show:'active',hide:'inactive'}" ng-class="{'inactive-active':!status.showAdmin}">
        <div class="heading">Beer Administration Panel</div>
        <div class="content">
          <input type="text" id="beerTime" ng-click="showDatePicker()"><div class="button" ng-click="saveBeerTime(status.beerTimeText)">Save</div>
          <hr/>
          <input type="text" ng-model="newatt.name" placeholder="Name > 1 character"> <div class="button" ng-click="add(newatt)" ng-show="newatt.name.length > 1">Add Alcoholic</div>
          <hr/>
          <input type="text" ng-model="delguy.name" placeholder="Type Name to Remove"> <div class="button" ng-click="del(delguy)" ng-show="delguy">Remove</div>
          <div ng-show="delMessage">
            <div class="heading bare">Undo!</div>
            {{delMessage}} <div class="button" ng-click="delMessage = false; undo(delguy);">Undo</div>
            <div class="button" ng-click="delMessage = false;">He Deserved It</div>
          </div>
        </div>
      </div>
    </li>
    <li ng-init="status.showChat = false" ng-class="{selected:status.showChat, unviewed:status.viewedMessages != messages.length}">
      <div class="glyph" ng-click="status.showAdmin = false; status.showChat = !status.showChat; status.viewedMessages = messages.length">b</div>
      <div class="side-board chat content" ng-show="status.showChat" ng-animate="{show:'active',hide:'inactive'}" ng-class="{'inactive-active':!status.showChat}">
        <input type="text" ng-model="chat.name" placeholder="Your Name">
        <input type="text" ng-model="chat.message" placeholder="BeerChat" onEnter="sendMessage(chat)"> <div class="button" ng-click="sendMessage(chat)" ng-show="chat">Send</div>
        <hr/>
        <div class="message" ng-repeat="msg in messages | limitTo:-5 | orderBy:'date':true">
          <span class="attr name forque">{{msg.name}}</span>
          <span class="attr date">{{msg.date | date:'medium'}}</span>
          <div class="attr message-content">{{msg.message}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>
