<div class="site-header">
  <a href="/">andre buchanan</a>
  <span class="sub">Tech Demo</span>
</div>
<div class="site-menu">
  <div class="button">item1</div>
  <div class="button">item2</div>
  <div class="button">item3</div>
  <div class="button" ng-click="status.readonly = !status.readonly">{{status.readonly}}</div>
  <a href="#/events/new" class="button" ng-show="status.authd && !status.readonly">Add Event</a>
  <div class="button" ng-controller="authCtrl" ng-click="reqDauth()" ng-show="status.authd">Log Out</div>
  <div class="button" ng-click="status.login = !status.login" ng-show="!status.authd">Log In</div>
  <div class="button" ng-click="status.loaded = !status.loaded">{{status.loaded|toString|fuppercase}} Loader</div>
</div>