//Fonts
@font-face {
    font-family: 'Radioland';
    src: url('/fonts/RADIOLAND-webfont.eot'), url('/fonts/RADIOLAND-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heydings';
    src: url('/fonts/heydings_icons-webfont.eot'), url('/fonts/heydings_icons-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'forque';
    src: url('/fonts/Forque-webfont.eot'), url('/fonts/Forque-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

// Colour theme from colorschemedesigner.com, http://colorschemedesigner.com/#3o21Tptd7g0g0
primary-1 = #0F3641
primary-2 = #133139
primary-3 = #092C36
primary-4 = #256071
primary-5 = #2D6271
complement-1 = #694015
complement-2 = #5C3C1C
complement-3 = #57320D
complement-4 = #8F5D2B
complement-5 = #8F6336
// Other colours.
shadow-colour      = #222
content-text-color = #222
content-text-neutral = #999
content-text-alt   = #EEE
heading-background = complement-4
content-background = white
button-text-color  = content-text-color
field-background   = #888
field-text-color   = content-text-color

// Padding standards
pad-l = 1em // Large
pad-s = 0.5em // Small
pad-t = 0.25em // Tiny

// Cross-browser over-rides.
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
box-sizing(type = border-box)
  -moz-box-sizing type
  -webkit-box-sizing type
  box-sizing type
box-shadow()
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments
transition(type = all, easing = ease-in-out, duration = .3s)
  -webkit-transition type easing duration
  -moz-transition type easing duration
  -ms-transition type easing duration
  -o-transition type easing duration
  transition type easing duration
transform()
  -webkit-transform arguments
  -moz-transform    arguments
  -ms-transform     arguments
  -o-transform      arguments
  transform         arguments

vertical-gradient(startColor, endColor)
  background-color startColor
  background -webkit-gradient(linear, left top, left bottom, from(startColor), to(endColor))
  background -webkit-linear-gradient(top, startColor, endColor)
  background -moz-linear-gradient(top, startColor, endColor)
  background -ms-linear-gradient(top, startColor, endColor)
  background -o-linear-gradient(top, startColor, endColor)

// General structural elements.

// Backgrounds.
.background-gradient
  vertical-gradient(primary-1, primary-5)
// Shadow.
.shadow
  box-shadow 0px 1px 10px -1px shadow-colour
.shadow-small
  box-shadow 0px 1px 6px -1px shadow-colour
.shadow-heading
  box-shadow 0px 3px 6px -2px shadow-colour
.text-shadow
  text-shadow 1px 1px 3px shadow-colour
// Rounding.
.rounded
  border-radius 3px
.top-rounded
  border-radius 3px 3px 0 0
// Bevels.
.bevel
  border-left 1px solid rgba(white, 0.25)
  border-top 1px solid rgba(white, 0.25)
  border-right 1px solid rgba(black, 0.25)
  border-bottom 1px solid rgba(black, 0.25)
.transition
  transition()
.decoration
  @extends .rounded
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  pointer-events none
  opacity 0.1
.glyph
  font-family 'heydings'
  font-size 2em

// Content panes and headings.
.content-pane
  position relative
  border 1px solid #EEE
  overflow hidden
.heading
  @extends .shadow-heading
  overflow hidden
  position relative
  min-height 2em
  padding pad-s
  color content-text-alt
  z-index 1
  border-bottom 1px solid #222
  &.bare
    margin-bottom 1em
  .buttons
    position absolute
    right pad-t
    top pad-t
    .button
      padding pad-t
      &.glyph
        font-size 1em
        position relative
        top -.5em
.content
  position relative
  padding pad-l pad-s
  color content-text-color

.columns
  margin 0
  padding 0
  text-align justify
  list-style-type none
  > li
    text-align left
    display inline-block
    width 49%
    position relative
    vertical-align top
    padding pad-s
    .buttons
      margin pad-s 0
  &.one > li
    width 100%
  &.two > li
    width 49%
  &:after
    content ''
    width 100%
    display inline-block

.button
  @extends .shadow-small
  @extends .rounded
  @extends .transition
  padding 0.5em
  display inline-block
  position relative
  &:hover
    background-image none
    background-color primary-5
    color content-text-alt
    text-shadow none
    cursor pointer
.buttons
  .button
    margin 0 pad-t

// Absolutely positioned popup elements.
.popup
  @extends .shadow
  position absolute
  top 50%
  left 50%
  width 33%
  transform translate(-50%, -50%)
  z-index 9999

// General structural elements end.

// General elements
html
  *
    box-sizing border-box
body
  background-image url('/img/beer.jpg')
  background-attachment fixed
  background-size cover
  // font-family Verdana,Geneva,'DejaVu Sans',sans-serif
  font-family Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif
  color content-text-color
  padding pad-l
  font-size 1em
  margin auto
  &.fluid
    width 80%
a
  @extends .text-shadow
  text-decoration underline
  color primary-4
  .button
    text-decoration none
input[type=text],input[type=password],textarea
  @extends .rounded
  border-radius 10px
  border none
  padding pad-s
  background-color field-background
  color field-text-color
hr
  border-color #444
  margin pad-l 0

// App overrides.
.heading
  font-size 1.2em
  font-family 'forque'
.content-pane
  border 0
  overflow visible
  &.noover
    overflow auto
.content
  color #BBB !important
.button
  background-color rgba(primary-1, 0.66)
.bevel
  box-shadow 0em 0em .1em .1em #444
  border 1px solid #444
  border-right-color #777
  border-bottom-color #777
.dark
  background-color rgba(#222, 0.5)  !important
.spacer
  margin-top 2em

// App General
.forque
  font-family 'forque'

.feature
  display inline-block
  position relative
  font-size 7em
  text-shadow 3px 3px 5px #222
  .yay2
    font-size .3em
    position absolute
    top 50%
    left 50%
    color content-text-alt
    transform translate(-50%, -50%)

// Specific structural elements.

// Pre-js loader info
.index-loader
  @extends .popup
  .content
    text-align center

// Bar loader image.
img.loader
  margin auto
  margin-bottom pad-l
  max-width 80%
  height auto
  display block

.heading.error
  background-color rgba(red, 0.5)

// Structural elements.
.body-shadow
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  box-shadow inset 0em 0em 10em 5em #111
  z-index -1
.main
  width 80%
  margin auto
  background-image url('/img/bodybkg.png')
  background-color rgba(#000, 0.9)
  background-attachment fixed
  box-shadow 0em 0em 1em .25em #111
  color content-text-alt
.site-header
  padding pad-s
  position relative
  margin-bottom 1em
  text-align center
  .forque
    font-size 10em
    height 1.2em
    display inline-block
    position relative
  .feature
    position absolute
    right -.7em
    top 0
    font-size .7em
    transform rotate(-30deg)
    color #800
    .yay2
      font-size .45em
      position absolute
      top 45%
      left 50%

.digital-container
  text-align center
  top 0em
  font-family 'forque'
.digital
  font-size 6em
  height 1.3em
  text-shadow .1em .1em .1em #111
  display inline-block

.side-bar
  position fixed
  left 0
  color #444
  background-color #222
  top 20%
  z-index 9999
  ul
    box-shadow .1em .1em 1em .1em #444
    padding 0
    margin 0
    list-style-type none
    &:hover
      box-shadow .1em .1em 1em .1em #888
  li
    @extends .transition
    cursor pointer
    padding pad-s
    border-bottom 1px solid #444
    &:hover,&.active
      color #DDD
.side-board
  @extends .rounded
  box-shadow .5em .5em 1em .1em #111
  transition width ease-in-out 1s
  position absolute
  z-index 9999
  width 50vw
  background-color rgba(#111, 0.5)
  left 100%

.list
  @extends .rounded
  margin pad-s 0
  position relative
  color content-text-alt
  img
    width 1.5em
    opacity 0.7
  .attr
    @extends .transition
    display inline-block
    width 10%
    text-align center
    cursor pointer
    vertical-align middle
    &.beer
      width 5em
    &.name
      @extends .forque
      font-size 1.5em
      width 50%
      text-align left
      .comment
        font-family Constantia
        font-size .75em
        height 1em
    &.comment
      text-align left
      width 80%
      font-size 0.66em
      padding pad-l
      display block
      position absolute
      background-color rgba(primary-5, 0.5)
      z-index 9999
      &.small
        border-radius 6px
        display inline-block
        width auto
        padding pad-t pad-l
        left 2.5em
        bottom 0em
    &.yes
      color primary-4
    &.no
      color complement-4
    &.comment-ind
      vertical-align middle
    &.comment-ind.is
      color #CCC
    &.comment-ind.isnot
      color #777

.message
  padding pad-s
  line-height 2em
  .attr
    padding pad-t
    @extends .rounded
  .name
    background-color rgba(primary-3, 0.5)
  .message-content
    background-color rgba(#BBB, 0.2)


// Media queries
@media (max-width: 1000px)
  body
    font-size 0.75em
@media (max-width: 500px)
  body
    font-size 0.66em
